.band1 {
  border-radius: 1.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #0e0e0e;

  height: 4.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  flex-wrap: nowrap;
  overflow: hidden;
}

.band1 img {
  width: 1.5em;
}
.petcure {
  font-weight: 900;
  font-style: italic;
}
.animalz {
  font-weight: bold;
}

.groom {
  font-family: "Seaweed Script", cursive;
  font-weight: 700;
  font-size: 1.5em;
}
