footer {
  color: #f7f6f2;
  height: 7em;
  padding: 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;

}
footer p {
  font-size: 0.7em;
}
footer a{
  text-decoration: none;
  color: #f7f6f2;
  font-size: 0.7em;
}

footer a :visited{
  color: #f7f6f2;
}


.slogan {
  font-size: 1.5em;
}

@media (max-width:430px) {
  footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 1em;
  }
  .slogan{
    font-size: 1.3em;
  }
  
}