#meetPets {
  background-color: #f7f6f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;

  border-radius: 3em;
  border-width: 1.5px;
  border-style: solid;
}

#meetPets h1 {
  margin-top: 0.5em;
  font-size: 5em;
}

#meetPets h2 {
  font-size: 4em;
  font-family: "Seaweed Script", cursive;
  color: #a5cd08;
  margin-bottom: 0.5em;
}

.befAfcontainer {
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  flex-wrap: wrap;
}

@media (max-width: 430px) {
  #meetPets h1 {
    font-size: 3em;
    text-align: center;
  }
  #meetPets h2 {
    font-size: 3em;
  }
  .befAfcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
