.logo {
  font-family: "Seaweed Script", cursive;
  font-weight: bold;
  font-size: 1.8em;
}
.nav-bar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f6f2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 4em;
  border-radius: 1.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #0e0e0e;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
}

.nav-bar ul li {
  list-style-type: none;
  cursor: pointer;
}

.logo-toggle {
  display: none;
  cursor: pointer;
  padding: 0.7em;
  background-color: #f7f6f2;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 1.5em;
}
.logo-toggle img {
  width: 1.5em;
}

@media (max-width: 600px) {
  .nav-bar ul {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    row-gap: 0;
    color: #0e0e0e;
    display: none;
    background-color: #f7f6f2;
    border-radius: 1.5em;
    border-width: 1.5px;
    border-style: solid;
  }
  .menu.active ul {
    display: flex;
  }

  .nav-bar ul li {
    padding: 1em;
  }

  .logo-toggle {
    display: block;
  }
}
