.page-img {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;

  border-radius: 3em;
  border-width: 1.5px;
  border-style: solid;
}
.page-img-mobile {
  display: none;
}

@media (max-width: 430px) {
  .page-img {
    display: none;
  }
  .page-img-mobile {
    display: block;

    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;

    border-radius: 3em;
    border-width: 1.5px;
    border-style: solid;
  }
}
