.band2 {
  display: flex;
  /* justify-content: center;
  align-items: center; */

  background-color: #f7f6f2;
  height: 8em;

  border-radius: 1.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #0e0e0e;

  overflow: hidden;
  white-space: nowrap;
}

.band-div {
  display: flex;
  animation: slide-left 15s infinite linear;
}
.band2 img {
  flex: 0 0 5em;
  width: 6em;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}