#subscribePage {
  background-color: #ffafec;

  border-radius: 2em;
  border-width: 1.5px;
  border-style: solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2em;
}
#subscribePage h1 {
  text-align: center;
}

#subscribePage h2 {
  text-align: center;
  font-family: "Seaweed Script", cursive;
  font-size: 3em;
  color: #d6fe3b;
  -webkit-text-stroke: 0.05px #1f1f1fd3;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  /* flex-wrap: wrap; */

  margin-top: 0.5em;
  margin-bottom: 2em;

  width: 90%;
  height: 3em;
}
.inputDiv label {
  text-align: justify;
  width: 10em;
}

.inputDiv input {
  flex: 1;
  /* max-width: 45em; */
  min-width: 20em;
  height: 3em;
  background-color: #f7f6f2;

  border-style: solid;
  border-radius: 1em;
  border-width: 1.5px;
  border-color: #0e0e0e;

  padding: 0.5em;
  font-family: "Raleway", sans-serif;
}

.inputDiv button {
  padding: 0.8em 1em;
  background-color: #d6fe3b;

  border-style: solid;
  border-radius: 1em;
  border-width: 1.5px;
  border-color: #0e0e0e;

  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.ShopInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

.ShopInfo iframe {
  height: 15em;
  width: 15em;
  margin-bottom: 0.5em;

  border-radius: 1em;
  border-width: 1.5px;
  border-color: #0e0e0e;
  border-style: solid;
}
.horaires {
  background-color: #f7f6f2;

  height: 15em;
  width: 15em;
  padding: 1em;
  margin-bottom: 0.5em;

  border-radius: 1em;
  border-width: 1.5px;
  border-color: #0e0e0e;
  border-style: solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
}
.horaires h3 {
  font-family: "Seaweed Script", cursive;
  font-size: 2em;
}
.horaires h5 {
  color: #11a7dd;
  font-size: 1em;
}
.horaires p {
  text-align: justify;
  width: 95%;
  font-size: 0.8em;
}

.medialinks {
  background-color: #f7f6f2;

  height: 15em;
  width: 15em;

  padding: 1em;

  border-radius: 1em;
  border-width: 1.5px;
  border-color: #0e0e0e;
  border-style: solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5em;
}
.medialinks h3 {
  font-family: "Seaweed Script", cursive;
  font-size: 2em;
}
.medialinks img {
  width: 1.5em;
  margin-right: 0.5em;
}
.medialinks div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 430px) {
  #subscribePage h1 {
    font-size: 2.5em;
  }

  #subscribePage h2 {
    font-size: 1.8em;
    margin-bottom: 2em;
  }
  .inputDiv {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5em;
    margin-bottom: 3em;
  }
  .ShopInfo {
    flex-direction: column;
    row-gap: 0.5em;
  }
}
