.band3container {
  background-color: #d6fe3b;

  border-radius: 2em;
  border-width: 1.5px;
  border-style: solid;

  height: 4em;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;

  overflow: hidden;
}

.band3container img {
  width: 2.5em;
}
